<div   >
  <nav  class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
        <div class="d-flex align-items-center">
            <span class="toggle-sidebar me-3 d-lg-none" id="sidebar-toggle">
                <i class="fas fa-bars"></i>
            </span>
            <button type="button" id="sidebar-close-btn" class="btn-close d-md-none"></button>
        </div>       
                   
          
            <div class="d-flex justify-content-end">    
              <div class="d-flex align-items-center px-3">
                <div class="dropdown">
                    <button  class="nav-link position-relative"  
                    data-bs-toggle="modal" data-bs-target="#viewnotsmodal">
                        <i class="fas fa-bell"></i>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger notification-badge">
                           
                        </span>
                      </button>                    
                </div>
                </div>         
                
                <div class="dropdown ms-auto ">
                    <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" 
                       role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="rounded-circle bg-light d-flex align-items-center justify-content-center"  style="width: 32px; height: 32px;">
                            <i class="fas fa-user"></i>
                        </div>
                        <span class="ms-2 text-white "> Amos Mwangi </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" >Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    
</nav>

<!-- Sidebar -->
 
    
    <div *ngIf="isAdmin" >
      <div class="sidebar" id="sidebar">
        <a routerLink="dashboard" class="sidebar-item">
            <i class="fas fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
          
      <a routerLink="managecustomers" class="sidebar-item ">
        <i class="fas fa-users"></i>
          <span> Manage Customers  </span>          
      </a>
      <a routerLink="applyloan" class="sidebar-item ">
        <i class="fas fa-file-signature"></i>
          <span> Loan Application   </span>          
      </a>
      <a routerLink="manageloans"  class="sidebar-item ">
        <i class="fas fa-chart-line"></i>
          <span> Manage Loans </span>          
      </a>
    
       
    </div>   
    
    
</div>
</div>



<router-outlet></router-outlet>  
<!-- Main Content -->
      
        


